/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

/* HEADER
-------------------------------------------------- */

.branding-data {
    padding-top: 10px;
}


/* PAGE
-------------------------------------------------- */

body {
  background-color: #AA9B85;
  background-image: url(../footprint.png);
  background-repeat: no-repeat;
  background-position: top center;
}

.zone-menu {
  background-color: #AA9B85;
}
/*
.region-content {
    background-color: #AA9B85;
    padding: 10px;
}

.front .region-content {
    background-color: transparent;
}
*/
/* VIEWS
-------------------------------------------------- */

.view-home-page-slideshow {
    text-align: center;
}

.view-home-page-slideshow > .view-content {
    display: inline-block;
    max-width: 480px;
    max-height: 320px;
}

.flexslider-views-slideshow-main-frame h2 {
    display: none;
}

/* FONTS
--------------------------------------------------- */

.regular {
    font-style: normal;
    font-weight: normal;
}

.italic {
    font-style: italic;
    font-weight: normal;
}

.bold {
    font-style: normal;
    font-weight: bold;
}


.bold-italic {
    font-style: italic;
    font-weight: bold;
}

body {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
}

h1 {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: bold;
    font-size: 28px;
}

h2,h3,h4,h5 {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 22px;
}

/* normal links */
a, a:visited {
    color: #005500;
}

a:hover, a:focus {
    color: #008800;
    text-decoration: none;
}

/* site title */
.site-name {
    padding-top: 40px;
    font-size: 50px;
}
.site-name a {
    color: #000000;
}

/* active navbar links */
.navigation .main-menu > .active > a,
.navigation .main-menu > .active > a:visited {
    color: #005500;

}

.navigation .main-menu > .active > a:hover,
.navigation .main-menu > .active > a:focus {
    color: #008800;
}

/* normal navbar links */
.navigation .main-menu > li > a,
.navigation .main-menu > li > a:visited {
    color: #005500;
}

.navigation .main-menu > li > a:hover,
.navigation .main-menu > li > a:focus {
    color: #008800;
}

/* override selection color.  This won't work in all browsers, but won't hurt either. */
::selection {
  background: #005500;
  color: #FFFFFF;
  text-shadow: none;
}

::-moz-selection {
  background: #005500;
  color: #FFFFFF;
  text-shadow: none;
}
